<div class="list-group mt-3">
  <%= link_to "Ethik", ethics_path(0), class: "list-group-item list-group-item-action" %>
  <a href="#" class="list-group-item list-group-item-action disabled">Philosophisches Argumentieren (befindet sich noch im Aufbau)</a>
</div>