<div class="jumbotron text-justify yellowish mt-3">
  <h2>Der philosophische online Lernkurs</h2>
  <br>
  <p>
    Warum gibt es Philosophen und Philosophinnen? Und mit welchen Themen beschäftigen sie sich?
    <b>Finde es heraus!</b>
  </p>
  <p>
    Auf dieser Seite findest du <b>Kurse</b>, die dich in <b>philosophischen Themen</b> einführen.
  </p>
  <p>
    <%= link_to "Probiere einen Kurs aus!", ethics_path(0), class: "btn btn-primary btn-lg"  %>
  </p>
</div>
<button type="button" id="addpoints" class="btn btn-primary multilinebutton btn-block hidden-xl-down">PRESS ME!></button>


<script>
    $(document).ready(function () {

        $('#addpoints').on('click', function (){
            $.ajax("/addpoints/500");
            swal({
                title: 'jQuery HTML example',
                html: $('<div>')
                    .addClass('some-class')
                    .text('jQuery is everywhere.'),
                animation: false,
                customClass: 'animated tada'
            });
        });
    });
</script>