<div class="jumbotron text-justify yellowish mt-3">
  <h1>Die philosophische Lernapp</h1>
  <br>
  <p>
    Warum gibt es Philosophen und Philosophinnen und mit welchen Themen beschäftigen sie sich?
  </p>
  <p>
    Finde es heraus! Probiere einen Kurs aus und sammle dabei Punkte!
  </p>
  <%= link_to "Zu den Kursen!", courses_path, class: "btn btn-primary btn-lg"  %>
</div>
<button type="button" id="addpoints" class="btn btn-primary multilinebutton btn-block">PRESS ME!></button>


<script>
    $(document).ready(function () {

        $('#addpoints').on('click', function (){
            $.ajax("/addpoints/500")
        });
    });
</script>