<div class="<%=@ethiccssclass%>">
  <h1>Interessante Fälle</h1>
  <br>
  <p>
    Im Folgenden werden Fälle genannt, die Stärken und Schwächen der vorherig genannten ethischen Theorien offenlegen.
  </p>
  <p>
    Die Fälle:
  <ul>
    <li>Die "utilitaristische" Freundin</li>
    <li>Die Gestapo vor der Tür</li>
    <li>FALL FÜR TUGEND</li>
  </ul>
  </p>

  <%= render "courses/ethics/backforwardbutton", locals: {step: @step} %>

</div>