<div class="<%=@ethiccssclass%>">
  <h1>Brisante Fälle</h1>
  <br>
  <p>
    Die <b>Deontologie</b> beurteilt eine Handlung nicht danach, welche Folgen sie hat,
    sondern nach <b>der Art der Handlung selbst</b>.
    Wir sollen nach der Deontologie keine Handlungen unternehmen, die <b>intrinsisch schlecht</b> sind.
    Beispiele für intrinsisch schlechte Handlungen sind <b>Lügen, Stehlen, Morden oder Verletzen</b>.
  </p>
  <p>
    Kritiker der Deontologie argumentieren, dass eine solche Ethik zu "brisanten" Fällen führt.
    Zum Beispiel: Stell dir vor, du lebst in Nazi-Deutschland und du versteckst Juden in deinem Keller.
    Eines Tages kommt die Gestapo bei dir vorbei und fragt dich, ob du Juden in deinem Haus versteckst.
    Was tun?
  </p>
  <p>
    Die Antwort der Deontologie auf diese Frage lautet: <b>Die Wahrheit sagen</b>.
    Für die Kritiker der Deontologie ist diese Antwort aus mehreren Gründen eine schlechte Antwort:
  </p>

  <ul>
    <li class="mb-2">
      Die Gestapo macht aus deontologischer Sicht viele schlechte Dinge. Die Gestapo mordet, foltert, terrorisiert und noch viel mehr.
      Macht man sich nicht zum Komplizen der Gestapo, in einem solchen Fall die Wahrheit zu sagen?
      <b>Wie kann es gut sein, sich zum Komplizen der Gestapo zu machen?</b>
    </li>
    <li class="mb-2">
      Hier scheint ein <b>Konflikt</b> zwischen zwei <b>intrinsisch guten</b> Handlungen entstanden zu sein.
      Einerseits will man die Juden vor dem Konzentrationslager retten, eine intrinsisch gute Handlung,
      andererseits will man die Wahrheit sagen, auch eine intrinsisch gute Handlung.
      Man kann aber nicht beides tun. <b>Egal wie man handelt, man macht in beiden Fällen etwas falsch.</b>
      Darf eine gute Theorie solche Konflikte erlauben?
    </li>
  </ul>
  <p>
    Manche Kritiker der Deontologie argumentieren, dass man in solchen "brisanten" Fällen die <b>Unplausibilität</b> der Deontologie erkennen kann.
    Deontologen halten dagegen und meinen, dass die eben genannten Probleme zwar ernst sind, diese aber gelöst oder behoben werden können.
  </p>
  <%= render "courses/ethics/backforwardbutton", locals: {step: @step} %>

</div>