<div class="<%=@ethiccssclass%>">
  <h1>Die Deontologie</h1>
  <br>
  <p>
    Die <b>Deontologie</b> beurteilt eine Handlung nicht danach, welche Folgen sie hat,
    sondern nach <b>der Art der Handlung selbst</b>.
  </p>
  <p>
    Wenn uns jemand ein <b>Versprechen</b> gibt, dann erwarten wir, dass diese Person dieses Versprechen auch <b>hält</b>.
  </p>
  <p>
    Wenn wir uns mit jemanden <b>unterhalten</b>, dann wollen wir nicht, dass diese Person uns <b>anlügt</b>.
  </p>
  <p>
    Wenn jemand aber ein <b>Versprechen bricht</b> oder <b>lügt</b>, so die Deontologie, dann ist die Handlung schlecht,
    <b>unabhängig von den Folgen</b>, die jene Handlung nach sich zieht.
  </p>
  <p>
    Gewisse Handlungen, wie Lügen oder das Brechen von Versprechen, sind <b>schlecht an sich</b>, sie sind, wie man sagt, <b>intrinsisch schlecht</b>.
  </p>
  <p>
    Die Frage ist nun, <b>welche Handlungen intrsinsisch gut</b> und <b>welche intrinsisch schlecht</b> sind.
  </p>
  <p>
    Ein Vorschlag, wie man den <b>intrinsischen Wert</b> einer Handlung <b>bestimmen</b> kann, ist wie folgt:
  </p>

  <p class="ml-3">
    <em>Eine Handlung ist intrinsisch schlecht, <b>wenn du nicht möchtest, dass man sie bei dir macht</b>.<br><br>
    Eine Handlung ist intrinsisch gut, <b>wenn du froh wärst, dass man sie bei dir macht</b>.</em>
  </p>
  <hr class="my-4">
  <p>
    Ein Beispiel, wie man eine Handlung in der Deontologie bewertet, könnte so aussehen: <br><br>
    Ist <b>Stehlen</b> intrinsisch schlecht? Möchtest du bestohlen werden? Falls nein, dann ist Stehlen intrinsisch schlecht.<br><br>
    Ist <b>Nothilfe leisten</b> intrinsisch gut? Möchtest du im Notfall Nothilfe bekommen? Falls ja, dann ist Nothilfe leisten intrinsischt gut.
  </p>

  <p>
    Dieses Prinzip nennt man manchmal auch die <b>goldene Regel</b>: <em>„Was du nicht willst, dass man dir tu, das füg auch keinem andern zu.“</em>
  </p>


  <%= render "courses/ethics/backforwardbutton", locals: {step: @step} %>

</div>