<div class="<%=@ethiccssclass%>">
  <h1>Ein Persönlichkeitstest!</h1>
  <br>
  <p>
    Da der <b>Konsequentialismus</b> und die <b>Deontologie</b> Handlungen unterschiedlich bewerten, liefern sie manchmal auch <b>unterschiedliche Empfehlungen</b> ab, wie man sich in bestimmten Situationen <b>verhalten soll</b>.
  </p>
  <p>
    <b>Finde heraus, nach welcher von diesen beiden Ethiken du dich richtest!</b>
  </p>
  <p>
    Auf der nächsten Seite begegnest du klassischen Fällen, in denen sich Konsequentialisten und Deontologen unterschiedlich verhalten würden.
  </p>
  <p>
    Wie würdest du dich in diesen Fällen entscheiden?
  </p>

  <%= render "courses/ethics/backforwardbutton", locals: {step: @step} %>

</div>