<div class="jumbotron text-justify yellowish mt-3">
  <h1>Drei ethische Theorien</h1>
  <br>
  <p>
    In der Ethik gibt es drei Theorien, die sehr bekannt sind. Sie heissen <b>Konsequentialismus</b>, <b>Deontologie</b> und <b>Tugendethik</b>.
  </p>
  <br>
  <br>
  <div class="text-center rounded white-bg p-2">
    <%= image_tag("ethiktheorien.png", class: "img-fluid") %>
  </div>
  <br>
<p>
  Diese drei Theorien unterscheiden sich in der <b>Art und Weise</b>, wie sie <b>menschliches Handeln beurteilen</b>.
</p>
  <ul>
    <li class="mb-2"><b>Konsequentialismus: </b> Eine Handlung ist gut, wenn sie gute Folgen hat.</li>
    <li class="mb-2"><b>Deontologie: </b> Eine Handlung ist gut, wenn sie intrinsisch gut ist.</li>
    <li class="mb-2"><b>Tugendethik: </b> Eine Handlung ist gut, wenn die dahinterstehende Motivation gut ist.</li>
  </ul>
<p>
  Auf den folgenden Folien wirst du diese Theorien etwas näher kennen lernen.
</p>

  <%= render "courses/ethics/backforwardbutton", locals: {step: @step} %>

</div>