<div class="jumbotron text-justify yellowish mt-3">
  <h1 class="display-3">Drei ethische Theorien</h1>
  <br>
  <p>
    In der Ethik gibt es drei Theorien, die sehr bekannt sind. Sie heissen <b>Konsequentialismus</b>, <b>Deontologie</b> und <b>Tugendethik</b>.
  </p>
  <br>
  <br>
  <div class="text-center rounded white-bg p-2">
    <%= image_tag("ethiktheorien.png", class: "img-fluid") %>
  </div>
  <br>

  <p>
    In der Ethik gibt es drei Theorien, die sehr bekannt sind. Sie heissen <b>Konsequentialismus</b>, <b>Deontologie</b> und <b>Tugendethik</b>.
  </p>

  <br>
  <%= link_to "Weiter", ethics_path("kintroduction"), class: "btn btn-primary btn-lg" %>
</div>