<div class="<%=@ethiccssclass%>">
  <h1>Was ist Ethik?</h1>
  <br>
  <p>Ethik ist eine philosophische Disziplin, die sich mit der <b>Bewertung menschlichen Handelns</b> auseinandersetzt.</p>
  <p>Im Alltag beurteilen wir oft Handlungen. Wir sagen zum Beispiel, dass es gut ist, einem alten Menschen 체ber die Strasse zu helfen, w채hrend wir Diebstahl oder L체gen als schlecht beurteilen.
  </p>
  <p>
    Doch warum ist Diebstahl schlecht? Und warum sollten wir alten Menschen 체ber die Strasse helfen? Die Ethik versucht solche Fragen zu beantworten.
  </p>
  <p class="lead">
    <%= link_to "Mit dem Kurs anfangen", ethics_path(@step + 1), class: "btn btn-primary btn-lg", remote: true %>
  </p>
</div>