<div class="jumbotron text-justify yellowish mt-3">

  <h1>Konsequentialismus</h1>
  <br>
  <p>
    Im <b>Konsequentialismus</b> werden Handlungen im Bezug auf <b>die Folgen</b> beurteilt, die eine Handlung nach sich zieht.
  </p>
  <p>
    Eine Handlung ist <b>gut</b>, wenn sie <b>gute Folgen</b> hat und eine Handlung ist <b>schlecht</b>, wenn sie <b>schlechte Folgen</b> hat.
  </p>
  <p>
    Die Frage ist nun, was man genau unter <b>guten</b> und <b>schlechten</b>
    Folgen verstehen soll.
  </p>
  <p>
    Der <b>Utilitarismus</b>, eine bekannte konsequentialistische Position, argumentiert, dass eine Handlung gut ist, wenn sie <b>viel Glück bringt</b> und dass
    eine Handlung schlecht ist, wenn sie <b>viel Leid produziert</b>.
  </p>


  <%= render "courses/ethics/backforwardbutton", locals: {step: @step} %>

</div>