<div class="jumbotron text-justify yellowish mt-3">
  <h1>Heiligt der Zweck die Mittel?</h1>
  <br>
  <p>
    Im <b>Konsequentialismus</b> werden Handlungen im Bezug auf <b>die Folgen</b> beurteilt, die eine Handlung nach sich zieht.
  </p>
  <p>
    Kritiker des Konsequentialismus' argumentieren, dass eine solche Ethik Konsequenzen hätte, die wir nicht in Kauf nehmen wollen.

  </p>
  <p>
    Kritiker der Deontologie argumentieren, dass eine solche Ethik zu "brisanten" Fällen führt.
    Zum Beispiel: Stell dir vor, du lebst in Nazi-Deutschland und du versteckst Juden in deinem Keller.
    Eines Tages kommt die Gestapo bei dir vorbei und fragt dich, ob du Juden in deinem Haus versteckst.
    Was tun?
  </p>
    
  <%= render "courses/ethics/backforwardbutton", locals: {step: @step} %>

</div>