<div class="<%=@ethiccssclass%>">

  <h1>Der Konsequentialismus</h1>
  <br>
  <p>
    Im <b>Konsequentialismus</b> werden Handlungen im Bezug auf <b>die Folgen</b> beurteilt, die eine Handlung nach sich zieht.
  </p>
  <p>
    Eine Handlung ist <b>gut</b>, wenn sie <b>gute Folgen</b> hat und eine Handlung ist <b>schlecht</b>, wenn sie <b>schlechte Folgen</b> hat.
  </p>
  <p>
    Die Frage ist nun, was man genau unter <b>guten</b> und <b>schlechten Folgen</b> verstehen soll.
  </p>
  <p>
    Der <b>Utilitarismus</b>, eine bekannte konsequentialistische Position, argumentiert, dass eine Handlung gut ist, wenn sie <b>viel Glück bringt</b> und dass
    eine Handlung schlecht ist, wenn sie <b>viel Leid produziert</b>.
  </p>
  <hr class="my-4">
  <p>
    Ein Beispiel, wie man eine Handlung im Utilitarismus bewertet, könnte so aussehen:
  </p>
  <p>
    Angenommen, wir haben zwei Handlungsoptionen. Nennen wir sie Handlung A und Handlung B.
  <ul>
    <li> Handlung A führt dazu, dass 10 Menschen glücklich werden und 2 Menschen leiden.</li>
    <li> Handlung B führt dazu, dass 2 Menschen glücklich werden und 10 Menschen leiden.</li>
  </ul>
  Nach dem Utilitarismus können wir nun die zwei Handlungen im Bezug auf die Folgen <b>vergleichen</b>.
    Verglichen zur Handlung B, werden bei Handlung A <b>mehr Menschen glücklick</b> und es müssen <b>weniger Menschen leiden</b>. Somit ist Handlung A <b>besser</b> als Handlung B.
    Dabei spielt es nach dem Utilitarismus keine Rolle, von welcher Art die Handlung A ist.
  </p>


  <%= render "courses/ethics/backforwardbutton", locals: {step: @step} %>

</div>