<div class="<%=@ethiccssclass%>">
  <h1>Heiligt der Zweck die Mittel?</h1>
  <br>
  <p>
    Im <b>Konsequentialismus</b> werden Handlungen im Bezug auf <b>die Folgen</b> beurteilt, die eine Handlung nach sich zieht.
  </p>
  <p>
    Kritiker des Konsequentialismus' argumentieren, dass eine solche Ethik verheerende Konsequenzen für unser Zusammenleben hätte.
  </p>
  <p>
    Bei der Frage:
  </p>
  <p>
    <b><%= @whatareyou[7][0] %></b>
  </p>
  <p>
    Hast du geantwortet mit:
  </p>
  <p>
    <b><%= current_user.ethic.answers["7"] %></b>
  </p>
  <% if current_user.ethic.answers["7"].include?("Nein") %>
      <p>
        Deine Antwort ist nicht die, die eine <b>utilitaristischen Ethik</b> empfehlen würde.
      </p>
    <% else %>
      <p>
      Deine Antwort ist die gleiche, die eine <b>utilitaristischen Ethik</b> empfehlen würde.
      </p>
  <% end %>
  <p>
    Der Tod eines Menschen verursacht Leid und Trauer, doch der Tod von 4 Menschen verursacht
    noch mehr Leid und Trauer und ist demnach, nach einer <b>utilitaristischen Ethik</b>, schlimmer
    als der Tod eines Menschen.
  </p>
  <p>
    Kritiker argumentieren nun, dass eine solche Ethik fatale Konsequenzen hätte:
    <i>
    Müssten wir uns denn nicht jedes Mal fürchten, wenn wir ins Krankenhaus gehen, dass wir vielleicht geopfert werden?
    </i>
    Eine solche Ethik würde jegliches Vertrauen, das wir in unsere Mitmenschen haben, vernichten und jedes gesunde Zusammenleben verhindern.
  </p>
  <p>
    Ist eine solche Ethik noch plausibel?
  </p>
    
  <%= render "courses/ethics/backforwardbutton", locals: {step: @step} %>

</div>