<div class="<%=@ethiccssclass%>">
  <h1>Was tun?</h1>
  <br>
  <p>

  </p>

  <p>
    ...
  </p>

  <p>
   ...
  </p>

  <%= render "courses/ethics/backforwardbutton", locals: {step: @step} %>

</div>