<div class="<%=@ethiccssclass%>">
  <h1>Was tun?</h1>
  <br>
  <p>
   In der <b>Tugendethik</b> werden Handlungen im Bezug auf <b>die dahinterstehende Motivation</b> beurteilt.
  </p>
  <p>
    Kritiker der Tugendethik argumentieren, dass die Tugendethik nicht in der Lage ist, <b>konkrete Empfehlungen</b> für Handlungen zu liefern.
  </p>
  <p>
    Schau dir diese Frage nochmals an:
  </p>
  <p>
    <b><%= @whatareyou[5][0] %></b>
  </p>
  <p>
   Die <b>Tugendethik</b> rät uns, das zu tun, was eine <b>tugendhafte Person</b> tun würde.
    Doch <b>was genau</b> würde eine tugendhafte Person hier tun?
    Was würde beispielsweise eine <b>weise, gerechte, mässige und tapfere</b> Person tun?
  </p>
  <p>
    Im Vergleich zur Deontologie oder zum Konsequentialismus scheint die Tugendethik besonders Mühe zu haben, konkrete Empfehlungen für Handlungen zu finden.
  </p>
  <p>
    Ist eine Ethik, die keine konkreten Empfehlungen geben kann, eine unbrauchbare Ethik?
  </p>

  <%= render "courses/ethics/backforwardbutton", locals: {step: @step} %>

</div>