<div class="<%=@ethiccssclass%>">
  <h1>Die Tugendethik - eine unklare Ethik?</h1>
  <br>
  <p>
    In der <b>Tugendethik</b> werden Handlungen im Bezug auf <b>die dahinterstehende Motivation</b> beurteilt.
  </p>
  <p>
    ...
  </p>

  <p>
   ...
  </p>

  <%= render "courses/ethics/backforwardbutton", locals: {step: @step} %>

</div>