<div class="jumbotron text-justify yellowish mt-3">

  <h1>Tugendethik</h1>
  <br>
  <p>
    In der <b>Tugendethik</b> werden Handlungen im Bezug auf <b>die dahinterstehende Motivation</b> beurteilt.
  </p>
  <p>
    Eine Handlung ist <b>gut</b>, wenn die <b>dahinterstehende Motivation gut</b> ist und eine Handlung ist <b>schlecht</b>, wenn die <b>dahinterstehende Motivation schlecht</b> ist.
  </p>
  <p>
    Die Frage ist nun, was man genau unter einer <b>guten</b> und <b>schlechten</b>
    <b>Motivation</b> verstehen soll.
  </p>
  <p>
    Ein Vorschlag, wie man den <b>Wert</b> einer Motivation <b>bestimmen</b> kann, ist zu prüfen, ob die Motivation einer Handlung <b>aus einer Tugend entspringt oder nicht</b>.
  </p>
  <p>
    Eine Tugend ist eine vorzügliche Eigenschaft eines Menschen, wie zum Beispiel <b>Klugheit, Weisheit, Gerechtigkeit, Tapferkeit</b> oder <b>Mässigung</b>.
  </p>
  <p>
    Ein Beispiel, wie man eine Handlung in der Tugendethik bewertet, könnte so aussehen: <br><br>
    Du hast etwas <b>gestohlen</b>. <b>Weshalb</b> hast du etwas gestohlen?
  </p>
  <p>
    <b>(a)</b> Angenommen, du hast aus <b>Rache</b>, aus <b>Neid</b> oder aus <b>Hass</b> gestohlen. Die Frage ist nun, ob <b>Gehässigkeit, Rachsucht und Neid </b> Eigenschaften sind,
    die wir einer tugendhaften, also <b>weisen, gerechten und tapferen</b> Person zubilligen würden. Falls nicht, dann war diese Handlung schlecht.
  </p>
  <p>
    <b>(b)</b> Angenommen, du hast gestohlen, um einen Tyrannen zu bekämpfen. Die Frage ist nun, ob <b>das Kämpfen gegen Tyrannen</b> eine Eigenschaften ist,
    die wir einer tugendhaften, also <b>weisen, gerechten und tapferen</b> Person zubilligen würden. Falls ja, dann war diese Handlung gut.
  </p>

  <%= render "courses/ethics/backforwardbutton", locals: {step: @step} %>

</div>