<div class="alert alert-info mt-3">
  <strong>Aufgabe:</strong> Lies das folgende Gedankenexperiment und löse die anschliessenden Übungen!
</div>

<div class="alert alert-warning mt-3 text-justify">
    <strong>Die "utilitaristische" Freundin</strong>
    <br>
    <br>
    <p>
    Du hast dich in eine Frau verliebt. Du gestehst deine Liebe zu ihr und du kannst es kaum fassen: Sie gesteht auch ihre Liebe zu dir!
    Nach 5 Monaten, es war die schönste Zeit deines Lebens, bricht sie die Beziehung plötzlich ab. Du fragst sie, was denn geschehen sei.
    Sie antwortet: "Ich war nie in dich verliebt. Ich dachte nur, dass wir beide wahrscheinlich glücklicher sind, wenn wir in einer Beziehung sind,
    als wenn wir in keiner Beziehung sind. Und wir waren doch 5 Monate lang glücklich, nicht wahr? Doch jetzt habe ich mich in einen anderen Mann verliebt
    und ich möchte nun mit ihm leben. Klar, du wirst jetzt vielleicht ein bisschen traurig sein, aber trotzdem warst du 5 Monate glücklich, in denen du
    ohne Beziehung nicht glücklich gewesen wärst."
  </p>
  <p>
   <i>Hat die "utilitaristische" Freundin gut gehandelt?</i>
  </p>
  <footer class="blockquote-footer">Beispiel genommen von <cite title="Source Title">The 21st Century Monads- Utilitarian Girlfriend</cite></footer>
</div>

<div class="alert alert-info mt-3">
  <strong>1. Übung: </strong> Überlege dir, was ein Kritiker des Utilitarismus' hierzu sagen würde. Füll diesen Lückentext aus!
</div>

<div class="alert alert-warning mt-3 text-justify">
  <p style="line-height: 3.5; !important; display: inline;">
    "Die Frau hat dir ihre
  <span id="jesus" class="dropfield" value="liebe">

    </span>

    nur <b>vorgespielt</b>. Sie hat dich
    <span class="dropfield" value="absichtlich">

    </span>
    getäuscht.
    Du glaubtest, die <b>Liebe deines Lebens</b> gefunden zu haben, dabei war die Liebe von Anfang an nur einseitig und zum


    <span class="dropfield" value="scheitern">

    </span>

    verurteilt.
    Ist es nicht <b>falsch</b>, was diese Frau mit dir gemacht hat?
    Doch nach dem
    <span class="dropfield" value="utilitarismus">

    </span>
    hat die Frau nicht falsch gehandelt. Im Gegenteil, nach dem Utilitarismus hat sie sogar <b>gut gehandelt</b>.
    Mehr noch: Nach dem Utilitarismus <b>sollten wir alle so wie die Frau handeln</b>, weil auf diese Weise mehr
    <span class="dropfield" value="gluck">

    </span>
    entstanden ist,
    als wenn wir nicht so gehandelt hätten. Diese Schlussfolgerung ist
    <span class="dropfield" value="absurd">

    </span>
    : Es kann doch nicht sein, dass es gut ist, uns gegenseitig absichtlich zu täuschen."
  </p>
</div>


<div id="liebe" class="dropling draggable text-center">
  Liebe
</div>

<div id="utilitarismus" class="dropling draggable text-center">
  Utilitarismus
</div>

<div id="absurd" class="dropling draggable text-center">
  absurd
</div>
<div id="absichtlich" class="dropling draggable text-center">
  absichtlich
</div>

<div id="scheitern" class="dropling draggable text-center">
  Scheitern
</div>

<div id="gluck" class="dropling draggable text-center">
  Glück
</div>
<br>
<br>

<div class="dropfield">

</div>

<div class="dropfield">

</div>

<div class="dropfield">

</div>


<script>
    $(document).ready(function() {

        var callresultswal = function(){
            resultswal("Lückentext ausgefüllt", "Du hast die Lücken korrekt ausgefüllt.", 500, "ethic", "utgf", "completed");
        };

        var points = 0;
        $( function() {
            $( ".draggable" ).draggable({ revert: 'invalid', snap: ".dropfield", snapTolerance: 75, snapMode: "inner" });

            $( ".dropfield" ).droppable({
                drop: function( event, ui ) {
                  if(ui.draggable.attr('id').toLowerCase() == $(this).attr('value')){
                      points = points + 1;
                      console.log(points);
                      var id = ui.draggable.attr('id');
                      $("#" + id).draggable( 'disable' );
                      $("#" + id).css( "background-color", "#7FFF00");
                      if (points == 6){
                          callresultswal();
                          $('#backforward').fadeIn("slow").removeClass("hidden-xl-down");
                      }
                  }
                }
            });
        } );
    });
</script>