<div class="<%=@ethiccssclass%>">
  <h1>Die "utilitaristische" Freundin</h1>
  <br>
  <h3>Das Gedankenexperiment</h3>
  <p>
    Du hast dich in eine Frau verliebt. Du gestehst deine Liebe zu ihr und du kannst es kaum fassen: Sie gesteht auch ihre Liebe zu dir!
    Nach 5 Monaten, es war die schönste Zeit deines Lebens, bricht sie die Beziehung plötzlich ab. Du fragst sie, was denn geschehen sei.
    Sie antwortet: "Ich war nie in dich verliebt. Ich dachte nur, dass wir beide wahrscheinlich glücklicher sind, wenn wir in einer Beziehung sind,
    als wenn wir in keiner Beziehung sind. Und wir waren doch 5 Monate lang glücklich, nicht wahr? Doch jetzt habe ich mich in einen anderen Mann verliebt
    und ich möchte nun mit ihm leben. Klar, du wirst jetzt vielleicht ein bisschen traurig sein, aber trotzdem warst du 5 Monate glücklich, in denen du
    ohne Beziehung nicht glücklich gewesen wärst."
  </p>
  <h3>Die darin enthaltene Kritik am Utilitarismus</h3>
  <p>
   Dieses Gedankenexperiment richtet sich gegen den Utilitarismus. Es versucht zu zeigen, dass der Utilitarismus eine <b>unintuitive</b> Position ist.
  </p>
  <p>
    Worin besteht die Absurdität?
  </p>
  <p>
    Die Frau hat dir ihre Liebe nur <b>vorgespielt</b>. Sie hat dich <b>absichtlich getäuscht</b>.
    Du glaubtest, die <b>Liebe deines Lebens</b> gefunden zu haben, dabei war die Liebe von Anfang an nur einseitig und zum Scheitern verurteilt.
    Ist es nicht <b>falsch</b>, was diese Frau mit dir gemacht hat?
  </p>
  <p>
    Doch nach dem Utilitarismus hat die Frau nicht falsch gehandelt. Im Gegenteil, nach dem Utilitarismus hat sie sogar <b>gut gehandelt</b>.
    Mehr noch: Nach dem Utilitarismus <b>sollten wir alle so wie die Frau handeln</b>, weil auf diese Weise <b>mehr Glück entstanden ist</b>,
    als wenn wir nicht so gehandelt hätten. Diese Schlussfolgerung ist für einige Kritiker des Utilitarismus' unintuitiv, wenn nicht sogar absurd:
    Es kann doch nicht sein, dass es gut ist, uns gegenseitig absichtlich zu täuschen.
  </p>
  <h3>Offene Frage</h3>
  <p>
    Wie misst man eigentlich Glück und Leid? Und wie wägt man sie gegeneinander ab? Im Gedankenexperiment heisst es, dass man "5 Monate glücklich war".
    Doch zweifellos gibt es auch, wie der Frau selber bewusst ist, einen Schmerz der Trennung. Die Frau geht davon aus, dass der Schmerz dieser Trennung
    durch das Glück wieder aufgewogen wird.

    Vielleicht ist der Schmerz der Trennung und das Wissen, dass alles nur vorgespielt wird, viel schlimmer, als die 5 Monate Glück.
  </p>

  <p>Liebe vortäuschen? Ist der Schmerz der Trennung nicht stärker als 5 Monate Glück?</p>

  <%= render "courses/ethics/backforwardbutton", locals: {step: @step} %>

</div>

Im Gedankenexperiment geht es darum, zu zeigen, dass utilitaristische Freundinnen die besten aller Freundinnen sind.