<div class="alert alert-info mt-3">
  <strong>Aufgabe:</strong> Lies das folgende Gedankenexperiment und löse die anschliessenden Übungen!
</div>

<div class="alert alert-warning mt-3 text-justify">
    <strong>Die "utilitaristische" Freundin</strong>
    <br>
    <br>
    <p>
    Du hast dich in eine Frau verliebt. Du gestehst deine Liebe zu ihr und du kannst es kaum fassen: Sie gesteht auch ihre Liebe zu dir!
    Nach 5 Monaten, es war die schönste Zeit deines Lebens, bricht sie die Beziehung plötzlich ab. Du fragst sie, was denn geschehen sei.
    Sie antwortet: "Ich war nie in dich verliebt. Ich dachte nur, dass wir beide wahrscheinlich glücklicher sind, wenn wir in einer Beziehung sind,
    als wenn wir in keiner Beziehung sind. Und wir waren doch 5 Monate lang glücklich, nicht wahr? Doch jetzt habe ich mich in einen anderen Mann verliebt
    und ich möchte nun mit ihm leben. Klar, du wirst jetzt vielleicht ein bisschen traurig sein, aber trotzdem warst du 5 Monate glücklich, in denen du
    ohne Beziehung nicht glücklich gewesen wärst."
  </p>
  <p>
   <i>Hat die "utilitaristische" Freundin richtig gehandelt?</i>
  </p>
  <footer class="blockquote-footer">Beispiel genommen von <cite title="Source Title">The 21st Century Monads- Utilitarian Girlfriend</cite></footer>
</div>

<div class="alert alert-info mt-3">
  <strong>1. Übung: </strong> Überlege dir, was ein Kritiker des Utilitarismus' hierzu sagen würde. Füll diesen Lückentext aus!
</div>

<div class="alert alert-warning mt-3 text-justify">
  <p style="line-height: 250% !important;">
    <select>
      <option value="0">Auswählen</option>
      <option value="1">Dieses Gedankenexperiment</option>
      <option value="2">Dieser Tatsachenbericht</option>
    </select>
    zeigt die Unplausibiltät des Utilitarismus'.
    Der Utilitarismus empfiehlt, sich für die Handlung zu entscheiden, die am meisten
    <select>
      <option value="no">Auswählen</option>
      <option value="Glück">Glück</option>
      <option value="Leid">Leid</option>
      <option value="Spass">Spass</option>
      <option value="Langeweile">Langeweile</option>
    </select>
    und am wenigsten
  <select>
    <option value="no">Auswählen</option>
    <option value="Glück">Glück</option>
    <option value="Leid">Leid</option>
    <option value="Spass">Spass</option>
    <option value="Langeweile">Langeweile</option>
  </select>
    produziert.
    Die "utilitaristische Freundin" hat nach
    <select>
      <option value="0">Auswählen</option>
      <option value="1">dem Utilitarismus</option>
      <option value="2">der Tugendethik</option>
      <option value="3">der Deontologie</option>
    </select>
    <b>richtig</b> gehandelt,
    doch niemand würde sich ernsthaft eine solche Freundin wünschen.
    Niemand will, dass man ihm eine Liebe vorspielt,
    doch nach dem Utilitarismus müssten wir die "utilitaristische" Freundin sogar <b>loben</b>.
    Ist es nicht absurd, eine Person zu loben, die uns absichtlich getäuscht hat?
  </p>
</div>

<% i = 0 %>
<ul class="form-check">
  <% @kutgf.each do |problem| %>
      <li class="list-group-item">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" name="conflicts" value="<%= i %>">
          <%= problem %>
        </label>
      </li>
      <% i = i + 1 %>
  <% end %>
</ul>


<div class="<%=@ethiccssclass%>">
  <h1>Die "utilitaristische" Freundin</h1>
  <br>
  <h3>Das Gedankenexperiment</h3>
  <p>
    Du hast dich in eine Frau verliebt. Du gestehst deine Liebe zu ihr und du kannst es kaum fassen: Sie gesteht auch ihre Liebe zu dir!
    Nach 5 Monaten, es war die schönste Zeit deines Lebens, bricht sie die Beziehung plötzlich ab. Du fragst sie, was denn geschehen sei.
    Sie antwortet: "Ich war nie in dich verliebt. Ich dachte nur, dass wir beide wahrscheinlich glücklicher sind, wenn wir in einer Beziehung sind,
    als wenn wir in keiner Beziehung sind. Und wir waren doch 5 Monate lang glücklich, nicht wahr? Doch jetzt habe ich mich in einen anderen Mann verliebt
    und ich möchte nun mit ihm leben. Klar, du wirst jetzt vielleicht ein bisschen traurig sein, aber trotzdem warst du 5 Monate glücklich, in denen du
    ohne Beziehung nicht glücklich gewesen wärst."
  </p>
  <h3>Die darin enthaltene Kritik am Utilitarismus</h3>
  <p>
   Dieses Gedankenexperiment richtet sich gegen den Utilitarismus. Es versucht zu zeigen, dass der Utilitarismus eine <b>unintuitive</b> Position ist.
  </p>
  <p>
    Worin besteht die Absurdität?
  </p>
  <p>
    Die Frau hat dir ihre Liebe nur <b>vorgespielt</b>. Sie hat dich <b>absichtlich getäuscht</b>.
    Du glaubtest, die <b>Liebe deines Lebens</b> gefunden zu haben, dabei war die Liebe von Anfang an nur einseitig und zum Scheitern verurteilt.
    Ist es nicht <b>falsch</b>, was diese Frau mit dir gemacht hat?
  </p>
  <p>
    Doch nach dem Utilitarismus hat die Frau nicht falsch gehandelt. Im Gegenteil, nach dem Utilitarismus hat sie sogar <b>gut gehandelt</b>.
    Mehr noch: Nach dem Utilitarismus <b>sollten wir alle so wie die Frau handeln</b>, weil auf diese Weise <b>mehr Glück entstanden ist</b>,
    als wenn wir nicht so gehandelt hätten. Diese Schlussfolgerung ist für einige Kritiker des Utilitarismus' unintuitiv, wenn nicht sogar absurd:
    Es kann doch nicht sein, dass es gut ist, uns gegenseitig absichtlich zu täuschen.
  </p>
  <h3>Offene Frage</h3>
  <p>
    Wie misst man eigentlich Glück und Leid? Und wie wägt man sie gegeneinander ab? Im Gedankenexperiment heisst es, dass man "5 Monate glücklich war".
    Doch zweifellos gibt es auch, wie der Frau selber bewusst ist, einen Schmerz der Trennung. Die Frau geht davon aus, dass der Schmerz dieser Trennung
    durch das Glück wieder aufgewogen wird.

    Vielleicht ist der Schmerz der Trennung und das Wissen, dass alles nur vorgespielt wird, viel schlimmer, als die 5 Monate Glück.
  </p>

  <p>Liebe vortäuschen? Ist der Schmerz der Trennung nicht stärker als 5 Monate Glück?</p>

  <%= render "courses/ethics/backforwardbutton", locals: {step: @step} %>

</div>

Im Gedankenexperiment geht es darum, zu zeigen, dass utilitaristische Freundinnen die besten aller Freundinnen sind.