<div class="<%=@ethiccssclass%>">
  <h1>Nach welcher Theorie sollen wir uns richten?</h1>
  <br>
  <p>
    Die drei vorgestellten ethischen Theorien bewerten Handlungen unterschiedlich.
    Die Frage ist nun, welche Theorie die richtige ist.
    Die Auswahl der Theorie legt fest, was wir tun <b>sollen</b>
    und ob das was wir tun <b>lobens-</b> oder <b>tadelnswert</b> ist.
  </p>
  <p>
    Im Folgenden werden Überlegungen vorgestellt, die jeweils
    für oder gegen eine ethische Theorie sprechen.
  </p>

  <%= render "courses/ethics/backforwardbutton", locals: {step: @step} %>

</div>